In [2]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
mydb = client['Employee']

In [4]:
info = mydb.employeeinformation

In [18]:
records = [
    {
    "F_name": "Zahid",
    "L_name" : "Sttar",
    "Department" : "Accounts",
    "age": 32
},
{
    "F_name": "Usman",
    "L_name" : "Ali",
    "Department" : "IT",
    "age": 24
},
{
    "F_name": "Ahsan",
    "L_name" : "Ali",
    "Department" : "Agriculture",
    "age": 27
},
{
    "F_name": "Abid",
    "L_name" : "Gujjar",
    "Department" : "Heaven",
    "age": 29
},
{
    "F_name": "Abrar",
    "L_name" : "Dogar",
    "Department" : "Heaven",
    "age": 23
},
{
    "F_name": "Ahmed",
    "L_name" : "Gujjar",
    "Department" : "Clerk",
    "age": 25
}
]

In [19]:
ins = info.insert_many(records) #or use insert_one for single record

In [20]:
print(info.inserted_id)

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Employee'), 'employeeinformation.inserted_id')

In [21]:
#Find one
info.find_one()

{'_id': ObjectId('6593073de4db5f191bc194fe'),
 'F_name': 'Zahid',
 'L_name': 'Sttar',
 'Department': 'Accounts',
 'age': 32}

In [23]:
for i in info.find():
    print(i)

{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc19500'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930867e4db5f191bc19501'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930867e4db5f191bc19502'), 'F_name': 'Abid', 'L_name': 'Gujjar', 'Department': 'Heaven', 'age': 29}
{'_id': ObjectId('65930867e4db5f191bc19503'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930867e4db5f191bc19504'), 'F_name': 'Ahmed', 'L_name': 'Gujjar', 'Department': 'Clerk', 'age': 25}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19506'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930962e4db5f191bc19507'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930962e4db5f191bc19508'), 'F_name': 'Abid', 'L_name': 'Gujjar', 'Department': 'Heaven', 'age': 29}
{'_id': ObjectId('65930962e4db5f191bc19509'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930962e4db5f191bc1950a'), 'F_name': 'Ahmed', 'L_name': 'Gujjar', 'Department': 'Clerk', 'age': 25}

In [30]:
for i in info.find({'age':32}):
    print(i)

{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [31]:
# Using the $in operator which is == to find value in the query for multiple options
for i in info.find({'L_name' : {'$in': ['Ali','Dogar']}}):
    print(i)

{'_id': ObjectId('65930867e4db5f191bc19500'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930867e4db5f191bc19501'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930867e4db5f191bc19503'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930962e4db5f191bc19506'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930962e4db5f191bc19507'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930962e4db5f191bc19509'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}

In [33]:
# And operator for query with #lt (less than) operator
for i in info.find({'L_name': 'Ali', 'age':{'$lt':25}}):
    print(i)

{'_id': ObjectId('65930867e4db5f191bc19500'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930962e4db5f191bc19506'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}

In [35]:
# OR operator use with $or keyword
for i in info.find({'$or' : [{"F_name": "Usman"},{"L_name": "Ali"}]}):
    print(i)

{'_id': ObjectId('65930867e4db5f191bc19500'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930867e4db5f191bc19501'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930962e4db5f191bc19506'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930962e4db5f191bc19507'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}

In [36]:
#sort the data
for i in info.find().sort('F_name',1):
    print(i)

{'_id': ObjectId('65930867e4db5f191bc19502'), 'F_name': 'Abid', 'L_name': 'Gujjar', 'Department': 'Heaven', 'age': 29}
{'_id': ObjectId('65930962e4db5f191bc19508'), 'F_name': 'Abid', 'L_name': 'Gujjar', 'Department': 'Heaven', 'age': 29}
{'_id': ObjectId('65930867e4db5f191bc19503'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930962e4db5f191bc19509'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930867e4db5f191bc19504'), 'F_name': 'Ahmed', 'L_name': 'Gujjar', 'Department': 'Clerk', 'age': 25}
{'_id': ObjectId('65930962e4db5f191bc1950a'), 'F_name': 'Ahmed', 'L_name': 'Gujjar', 'Department': 'Clerk', 'age': 25}
{'_id': ObjectId('65930867e4db5f191bc19501'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930962e4db5f191bc19507'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930867e4db5f191bc19500'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('65930962e4db5f191bc19506'), 'F_name': 'Usman', 'L_name': 'Ali', 'Department': 'IT', 'age': 24}
{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [38]:
# Delete any one data
info.delete_one({'F_name':'Usman'})
for i in info.find({}).sort('F_name',1):
    print(i)

{'_id': ObjectId('65930867e4db5f191bc19502'), 'F_name': 'Abid', 'L_name': 'Gujjar', 'Department': 'Heaven', 'age': 29}
{'_id': ObjectId('65930962e4db5f191bc19508'), 'F_name': 'Abid', 'L_name': 'Gujjar', 'Department': 'Heaven', 'age': 29}
{'_id': ObjectId('65930867e4db5f191bc19503'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930962e4db5f191bc19509'), 'F_name': 'Abrar', 'L_name': 'Dogar', 'Department': 'Heaven', 'age': 23}
{'_id': ObjectId('65930867e4db5f191bc19504'), 'F_name': 'Ahmed', 'L_name': 'Gujjar', 'Department': 'Clerk', 'age': 25}
{'_id': ObjectId('65930962e4db5f191bc1950a'), 'F_name': 'Ahmed', 'L_name': 'Gujjar', 'Department': 'Clerk', 'age': 25}
{'_id': ObjectId('65930867e4db5f191bc19501'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('65930962e4db5f191bc19507'), 'F_name': 'Ahsan', 'L_name': 'Ali', 'Department': 'Agriculture', 'age': 27}
{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [40]:
# Delete many records
info.delete_many({'F_name':{'$regex':'^A'}})
for i in info.find({}):
    print(i)

{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [42]:
#Updating the one record
myrecord = {'F_name':'Zahid'}
newrecord = {'$set':{'F_name':'Usman'}}

update = info.update_one(myrecord, newrecord)

for i in info.find({}):
    print(i)

{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Usman', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Zahid', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [44]:
oldrecord = {'F_name': {'$regex':'^U'}}
newrecord = {'$set':{'Department':'IT'}}
update = info.update_many(oldrecord, newrecord)

for i in info.find({}):
    print(i)

{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Usman', 'L_name': 'Sttar', 'Department': 'IT', 'age': 32}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Ahmed', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Ahmed', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [45]:
#Replace function 
filter = {"F_name":"Usman"}
replacevalue = {"F_name": "Usman", "L_name":"ali"}
info.replace_one(filter= filter, replacement= replacevalue)

for i in info.find({}):
    print(i)

{'_id': ObjectId('6593073de4db5f191bc194fe'), 'F_name': 'Usman', 'L_name': 'ali'}
{'_id': ObjectId('65930867e4db5f191bc194ff'), 'F_name': 'Ahmed', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}
{'_id': ObjectId('65930962e4db5f191bc19505'), 'F_name': 'Ahmed', 'L_name': 'Sttar', 'Department': 'Accounts', 'age': 32}

In [46]:
# Aggregation 

# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('65932669e4db5f191bc1950b'), ObjectId('65932669e4db5f191bc1950c'), ObjectId('65932669e4db5f191bc1950d'), ObjectId('65932669e4db5f191bc1950e'), ObjectId('65932669e4db5f191bc1950f'), ObjectId('65932669e4db5f191bc19510')], acknowledged=True)

In [49]:
# Total number of subjects each has took
total_subjects = collection.aggregate(
    [
        {'$group':{
            '_id':'$user',
            'Total Subjects':{'$sum':1}
        }
        }
    ]
)

for i in total_subjects:
    print(i)

{'_id': 'Amit', 'Total Subjects': 3}
{'_id': 'Krish', 'Total Subjects': 3}

In [53]:
# Total marks of each student
total_marks = collection.aggregate(
    [
        {
            '$group':{
                '_id':'$user',
                'Total marks':{'$avg':'$score'}
            }
        }
    ]
)

for i in total_marks:
    print(i)

{'_id': 'Amit', 'Total marks': 78.33333333333333}
{'_id': 'Krish', 'Total marks': 83.33333333333333}

In [55]:
### Create a new collection
import datetime as datetime
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

/var/folders/b2/pn6h715x3rz171jbp1s72snr0000gn/T/ipykernel_52238/3600094191.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
/var/folders/b2/pn6h715x3rz171jbp1s72snr0000gn/T/ipykernel_52238/3600094191.py:4: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
/var/folders/b2/pn6h715x3rz171jbp1s72snr0000gn/T/ipykernel_52238/3600094191.py:5: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
/var/folders/b2/pn6h715x3rz171jbp1s72snr0000gn/T/ipykernel_52238/3600094191.py:6: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
/var/folders/b2/pn6h715x3rz171jbp1s72snr0000gn/T/ipykernel_52238/3600094191.py:7: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  { "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [56]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [58]:
# What is the average price and quantity in different stores
avg_price = mycollection.aggregate([
    {
        '$group':{
            '_id': '$item',
            'Average Price' : {'$avg': {'$multiply': ['$price','$quantity']}},
            'Average quantity': {'$avg': '$quantity'}
        }
    }
])

for i in avg_price:
    print(i)

{'_id': 'abc', 'Average Price': 60.0, 'Average quantity': 6.0}
{'_id': 'jkl', 'Average Price': 20.0, 'Average quantity': 1.0}
{'_id': 'xyz', 'Average Price': 37.5, 'Average quantity': 7.5}

In [60]:
# Project function which is same as select statement in SQL
for i in mycollection.aggregate([{'$project': {'item':1}}]):
    print(i)

{'_id': 1, 'item': 'abc'}
{'_id': 2, 'item': 'jkl'}
{'_id': 3, 'item': 'xyz'}
{'_id': 4, 'item': 'abc'}
{'_id': 5, 'item': 'xyz'}

In [62]:
#Limit as top function in SQL
for i in mycollection.find({}).limit(3):
    print(i)

{'_id': 1, 'item': 'abc', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2024, 1, 1, 21, 11, 13, 189000)}
{'_id': 2, 'item': 'jkl', 'price': 20, 'quantity': 1, 'date': datetime.datetime(2024, 1, 1, 21, 11, 13, 189000)}
{'_id': 3, 'item': 'xyz', 'price': 5, 'quantity': 5, 'date': datetime.datetime(2024, 1, 1, 21, 11, 13, 189000)}

In [3]:
#Connecting with Mongodb Atlas
client1 = pymongo.MongoClient('mongodb+srv://whoisusmanali:superioR.007@mydb.m9seh55.mongodb.net/')
studentdb = client1['Student']
collectionstudent = studentdb['StudentScore']

data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collectionstudent.insert_many(data)

InsertManyResult([ObjectId('65933690d34e62fc6944b90c'), ObjectId('65933690d34e62fc6944b90d'), ObjectId('65933690d34e62fc6944b90e'), ObjectId('65933690d34e62fc6944b90f'), ObjectId('65933690d34e62fc6944b910'), ObjectId('65933690d34e62fc6944b911')], acknowledged=True)